.about img {
	transition: opacity 1s ease-out;
}
.about img:hover {
	transform: none;
	opacity: 0.7;
}
.sidebar {
	width: calc(240/1250 * 100%);
}
.wrapper {
	max-width: none;
}
.content-box {
	padding-left: calc((240/1250 * 100%) + 20px);
}
.about .cover-author-image {
	background-color: #FFFFFF;
}
.post .post-content {
	padding: 1rem;
}

.post > a {
	color: rgb(81, 81, 81);
	text-decoration: none;
	width: 100%;
}

footer .copyright {
	border-top: solid 1px #ccc;
}
.about p,
.request {
	font-size: 14px;
}
footer .copyright {
	font-size: 12px;
}

@media only screen and (max-width: 768px) {
	.content-box {
		padding: 20px 10px;
	}
	.sidebar {
		width: 100%;
	}
	.highlighter-rouge {
		width: 100%;
		box-sizing: border-box;
	}
	pre {
		overflow: auto;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	.post .post-content .post-title a {
		display: block;
	}
	.request {
		display: none;
	}
}
